.direction{
    font-size:x-small;
}
.direction:hover{
  color: black;
  background-color: lightblue;
}
.speech{
    font-size:medium;
    color: black;

}
.CHUBUKOV{
    color:rgb(255, 0, 0)
}
.LOMOV{
    color:rgb(55, 0, 255)
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    color: palevioletred;

}
th{
    text-align: center;
}
td{
    text-align: left;
}
tr:nth-child(odd){
background-color: bisque;
}
th,td{
   padding-top:  10px;
   padding-bottom: 20px;
}
.CHUBUKOV:hover{
    text-shadow:1px 5px 10px rgb(0, 255, 98);
}
.LOMOV:hover{
    text-shadow:1px 5px 10px rgb(128, 0, 255);
}
.bottom-navbar {
    background-color: #17dd4c;
    overflow: hidden;
    position:static;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.bottom-navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px; 
}

.bottom-navbar a:hover {
    background-color: #ddd;
    color: black;
}

.bottom-navbar a i {
    margin-right: 5px;
}


