.direction{
    font-size:x-small;
}
.direction:hover{
  color: black;
  background-color: lightblue;
}
.speech{
    font-size:medium;
    color: black;

}
.CHUBUKOV{
    color:rgb(255, 0, 0)
}
.LOMOV{
    color:rgb(55, 0, 255)
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    color: palevioletred;

}
th{
    text-align: center;
}
td{
    text-align: left;
}
tr:nth-child(odd){
background-color: bisque;
}
th,td{
   padding-top:  10px;
   padding-bottom: 20px;
}
.CHUBUKOV:hover{
    text-shadow:1px 5px 10px rgb(0, 255, 98);
}
.LOMOV:hover{
    text-shadow:1px 5px 10px rgb(128, 0, 255);
}


